.venv/
.ipynb_checkpoints
__pycache__/
dataset_complete
*.keras
.DS_Store
dataset/dogs/*
!dataset/dogs/.gitkeep
dataset/cats/*
!dataset/cats/.gitkeep
test/dogs/*
!test/dogs/.gitkeep
test/cats/*
!test/cats/.gitkeep
